body {
    margin: 0;
    font-family: sans-serif;
}

.dashboard {
    display: flex;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    background-color: #f9f9f9;
    padding: 20px;
}

.info-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.info-box {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.1);
}

.info-box h3 {
    margin: 0 0 10px 0;
    font-size: 1em;
    color: #555;
}

.info-box p {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
}